<ion-view title="index" id="page5" style="background-color:#363636;">
  <ion-content padding="true" class="has-header">
    <h1 id="index-heading2" style="color:#FFFFFF;text-align:center;">Wat</h1>
    <div>
      <img src="img/Uw30WEoFQhqHYoHGRyyu_WhatsAppImage2017-07-31at20.05.11.jpeg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="login()" id="index-button2" class="button button-assertive button-block">Log in</a>
    <a ui-sref="signup()" id="index-button1" class="button button-energized button-block">Sign up</a>
  </ion-content>
</ion-view>