<ion-view title="Select interests" id="page8" style="background-color:#A7A3A3;">
  <ion-content padding="true" class="has-header">
    <h2 id="selectInterests-heading3" style="color:#FFFFFF;font-weight:300;text-align:center;">Interests</h2>
    <form id="selectInterests-form4" class="list">
      <ion-toggle toggle-class="toggle-dark" id="selectInterests-toggle2">Facebook</ion-toggle>
      <label class="item item-input" id="selectInterests-input8">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="selectInterests-input10">
        <span class="input-label">User</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="selectInterests-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="selectInterests-toggle4" name="R">Twitter</ion-toggle>
      <label class="item item-input" id="selectInterests-input13">
        <span class="input-label">User</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="selectInterests-toggle5" name="R">Soy502</ion-toggle>
      <h3 id="selectInterests-heading5" style="color:#FFFFFF;text-align:center;">Keywords or Users</h3>
      <label class="item item-input" id="selectInterests-input12">
        <input type="text" placeholder="">
      </label>
      <button id="selectInterests-button6" class="button button-dark button-block">Add</button>
    </form>
  </ion-content>
</ion-view>